<%- include('partials/header') %>

<div class="container py-5 text-center">
  <h1 class="mb-4">Server Error</h1>
  <p class="mb-5">An error occurred: <%= error %></p>
  <a href="/" class="btn btn-primary">Go Home</a>
</div>

<%- include('partials/footer') %>

